<br />
<%= paginate(@pages) %>
<table class="table table-hover">
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td>
          <strong>
            <%= link_to page.title, page %>
          </strong>
        </td>
        <td><%= view_tags page.tag.split(',') if page.tag %></td>
        <td><%= gravatar_for(page.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@pages) %>

<br>
