<div id="seach">
  <%= form_for @search_form, url: pages_path, method: :get, role: "form" do |f| %>
    <div class="pull-left col-xs-6">
      <%= f.text_field :body , placeholder: 'キーワードを入力してください', class: 'form-control' %>
    </div>
    <div class="pull-left">
      <%= link_to content_tag(:p, 'クリア', class: 'btn btn-default'), action: :index %>
    </div>
    <div class="pull-left">
      <%= f.submit '検索', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
<br />
<br />
<br />
<%= paginate(@pages) %>
<table id="search_result" class="table table-hover">
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td class="page_title">
          <strong>
            <%= link_to page, class: 'jump_to' do %>
              <%= page.title %>&nbsp;&nbsp;<span class="badge alert-info"><%= page.comments.size unless page.comments.size == 0 %></span>
            <% end %>
          </strong>
        </td>
        <td><%= view_tags page.tag.split(',') if page.tag %></td>
        <td><%= gravatar_for(page.user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@pages) %>
<br>
<script type="text/javascript">
  $(function() {
    $('#search_result').on('click', '.target_tag', function(){
      $('#page_body').val($(this).text());
      $('#new_page').submit();
    });
  });
</script>

