<div id="markdown">
  <p>
    <%= markdown "# #{@page.title}" %>
  </p>

  <p>
    <%= markdown @page.body %>
  </p>
</div>

<div>
  <p>
    <strong>Tag:</strong>
    <%= view_tags @page.tag.split(',') %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= @page.user_name %>
  </p>
</div>

<%= link_to 'Edit', edit_page_path(@page), {class: "btn btn-primary active",  role: "button"} %>
<%= link_to 'Back', pages_path, {class: "btn btn-default active",  role: "button"} %>
