<div>
  <span class="col-md-8">
    <p>
      <%= view_tags @page.tag.split(',') %>
    </p>
  </span>
  <span class="text-right">
    <p>
      <% if @page.user_id == current_user.id %>
        <%= link_to 'Destroy', @page, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Edit', edit_page_path(@page), {role: "button"} %>
      <% else %>
        <%= gravatar_for(@page.user) %>
      <% end %>
    </p>
  </span>
</div>
<div id="markdown">
  <hr>
  <p>
    <%= markdown "# #{@page.title}" %>
  </p>

  <p>
    <%= markdown @page.body %>
  </p>
</div>
<br />
<br />
<% @comments.each do |v| %>
  <hr>
  <div class="clearfix">
    <div class=".pull-left">
      <%= markdown v.comment %>
    </div>
    <br />
    <br />
    <div class=".pull-left">
      <%= gravatar_for(v.user) %>&nbsp;&nbsp;<strong><%= v.user.name %></strong>&nbsp; <%= v.created_at.to_time.strftime('%Y/%m/%d %H:%M:%S') %>
    </div>
  </div>
<% end %>
<br />
<br />
<hr>
<%= render 'comment_form' %>
<br />
<br />

<%= link_to 'Back To List.', pages_path, {class: "btn btn-default active",  role: "button"} %>
<br />
<br />
